VITE_SIP_INFO={"transport":"WSS","username":"18885287464*6090","password":"fakePassword","authorizationTypes":["SipDigest"],"authorizationId":"15331205020","domain":"sip.ringcentral.com","outboundProxy":"sip112-1131.ringcentral.com:8083","outboundProxyBackup":"sip131-1131.ringcentral.com:8083","stunServers":["stun1.ringcentral.com:19302","stun2.ringcentral.com:19302"]}
