VITE_SIP_INFO={"transport":"WSS","username":"fakeUsername","password":"fakePassword","authorizationTypes":["SipDigest"],"authorizationId":"fakeId","domain":"sip.ringcentral.com","outboundProxy":"sip112-1131.ringcentral.com:8083","outboundProxyBackup":"sip131-1131.ringcentral.com:8083","stunServers":["stun1.ringcentral.com:19302","stun2.ringcentral.com:19302"]}
